<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<link rel="apple-touch-icon" sizes="76x76" href="/assets1/img/apple-icon.png">
	<link rel="icon" type="image/png" href="/assets1/img/favicon.png">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<title>Marks Upload</title>

	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport' />
    <meta name="viewport" content="width=device-width" />

	<!--     Fonts and icons     -->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.css" rel="stylesheet">

	<!-- CSS Files -->
    <link href="/assets1/css/bootstrap.min.css" rel="stylesheet" />
	<link href="/assets1/css/gsdk-bootstrap-wizard.css" rel="stylesheet" />

	<!-- CSS Just for demo purpose, don't include it in your project -->
	<link href="/assets1/css/demo.css" rel="stylesheet" />
</head>

<body>
<div class="image-container set-full-height" style="background-image: url('/assets1/img/wizard.jpg')">
    <!--   Creative Tim Branding   -->

	<!--  Made With Get Shit Done Kit  -->

    <!--   Big container   -->
    <div class="container">
        <div class="row">
        <div class="col-sm-8 col-sm-offset-2">

            <!--      Wizard container        -->
            <div class="wizard-container">

                <div class="card wizard-card" data-color="orange" id="wizardProfile">
                <!--        You can switch ' data-color="orange" '  with one of the next bright colors: "blue", "green", "orange", "red"          -->

                    	<div class="wizard-header">
                        	<h3>
                        	   <b>Upload Marks <br>
                        	                          	</h3>
                    	</div>
                        <%if(s==true){%>
						<div>
							<ul>
                               
	                            <li><a href="/assignment/submmision">Back</a></li>
	                        </ul>

						</div>
                        <br>
                            <%}%>
                        <div>
                            <div class="tab-pane" id="about">
                              <div class="row">
                                <div class="col-sm-2 col-sm-offset-1">
                                    <!-- <div class="picture-container">
                                         <div class="picture">
                                             <a href="/images/" target="frame" >                                             </a></div>
                                     </div> -->
                                 </div>
                                 <form action="/assignment/marks">

                                     <div class="col-sm-6">
                                         <div class="form-group">
                                             <label>Marks </label>
                                             <input type="number" name="marks" required placeholder="Enter Marks" class="form-control" pattern="[0-9]{1,3}" >
                                            </div>
                                            <div class="form-group">
                                                <input type="hidden" value="<%=order%>" name="a">
                                                <input type="submit" value="Upload" class="form-control">
                                            </div>
                                        </div>
                                    </form>
                                 
                              </div>
                            </div>
                            
                </div>
            </div> <!-- wizard container -->
        </div>
        </div><!-- end row -->
    </div> <!--  big container -->

</div>

</body>

	<!--   Core JS Files   -->
	<script src="/assets1/js/jquery-2.2.4.min.js" type="text/javascript"></script>
	<script src="/assets1/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/assets1/js/jquery.bootstrap.wizard.js" type="text/javascript"></script>

	<!--  Plugin for the Wizard -->
	<script src="/assets1/js/gsdk-bootstrap-wizard.js"></script>

	<!--  More information about jquery.validate here: http://jqueryvalidation.org/	 -->
	<script src="/assets1/js/jquery.validate.min.js"></script>

</html>
